<!-- start: #footer -->
<footer id="footer" class="grid-container no-background">

    <div class="textcenter">
        {{> site-logo}}
    </div>

    <div class="clear"></div>

</footer>
<!-- end: #footer -->