<!-- start: #sidebar -->
<aside id="sidebar" class="grid-30 tablet-grid-30 hide-on-tablet hide-on-mobile">

    {{#if @custom.sidebar_about_me_widget}}
        {{> widgets/about }}
    {{/if}}

    {{!-- {{> widgets/related-articles }} --}}

    {{!-- {{> widgets/recent-articles }} --}}

    {{> widgets/social-profiles }}    

    {{> widgets/featured-articles }}

    {{!-- {{> widgets/tag-cloud }} --}}

    {{> widgets/tag-carousel }}

    {{!-- {{> widgets/advertising }} --}}
    
    {{#if @custom.sidebar_social_feed_widgets}}

        {{#if @site.facebook}}
            <!-- start: .widget -->
            <section class="widget bg-box">
                <h4 class="widget-title title medium bordered"><span>Facebook</span><svg class="decoration"><use xlink:href="#title-decoration"></use></svg></h4>
                <div class="fb-page" data-href="{{facebook_url}}" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"></div></div>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="clear"></div>
            </section>
            <!-- end: .widget -->
        {{/if}}

        {{#if @site.twitter}}
            <!-- start: .widget -->
            <section class="widget bg-box">
                <h4 class="widget-title title medium bordered"><span>Twitter</span><svg class="decoration"><use xlink:href="#title-decoration"></use></svg></h4>
                <a class="twitter-timeline" href="{{twitter_url @site.twitter}}" data-height="400" data-widget-id="644274778728177664">Tweets by {{@site.twitter}}.</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <div class="clear"></div>
            </section>
            <!-- end: .widget -->

        {{/if}}

    {{/if}}
	
</aside>
<!-- end: #sidebar -->