<!-- start: .epcl-banner -->
<div class="widget">
    <h3 class="widget-title title medium bordered"><span>{{t "Advertising" }}</span><svg class="decoration"><use xlink:href="#title-decoration"></use></svg></h3>
    <div class="textwidget textcenter">
        <a href="https://estudiopatagon.com" target="_blank"><img src="{{asset "images/custom-banner.png"}}" alt="Advertising" width="240" height="400"></a>
    </div>    
    <div class="clear"></div>
</div>
<!-- end: .epcl-banner -->