{{#is "post"}}
    {{#get "posts" filter="id:-{{id}}+primary_tag:{{primary_tag.slug}}" limit="5" as |related-sidebar| }}
        {{#if related-sidebar}}
            <!-- start: related-articles -->
            <div class="widget widget_epcl_posts_thumbs grid-33 tablet-grid-50 mobile-grid-100">
                <h3 class="widget-title title medium bordered"><span>{{t "Related Articles" }}</span><svg class="decoration"><use xlink:href="#title-decoration"></use></svg></h3>
                {{#foreach related-sidebar visibility="all"}}
                    {{> widgets/loop-article }}
                {{/foreach}}
            </div>
            <!-- end: related-articles -->
        {{/if}}
    {{/get}}
{{/is}}