<!-- start: .widget -->
<section class="widget widget_menu grid-33 tablet-grid-50 mobile-grid-100">
    <h2 class="widget-title title medium bordered"><span>{{t "Quick Links" }}</span><svg class="decoration"><use xlink:href="#title-decoration"></use></svg></h2>
    {{navigation type="secondary"}}
    <div class="clear"></div>
</section>
<!-- end: .widget -->   