<!-- start: .widget -->
<section class="widget widget_text grid-33 tablet-grid-50 mobile-grid-100">
    {{> site-logo}}
<!--    <div class="textwidget">       -->
<!--        <p>A super modern theme following the latest trends with premium Membership and fully compatible with <b>Ghost</b>.</p>-->
<!--        <p>Check more themes like this on <a href="https://estudiopatagon.com" target="_blank">estudiopatagon.com</a></p>-->
<!--    </div>-->
    <div class="epcl-subscribe text-black">
        <form class="subscribe-form" data-members-form="subscribe">
            <div class="form-group">
                <input type="email" name="email" class="inputbox large" required placeholder="{{t "Enter your email address"}}" data-members-email>
                <button class="epcl-button submit absolute wave-button" type="submit">
                    {{t "Get Started"}}<span class="loader"></span>
                </button>
            </div>
            <p class="error-detail" data-members-error></p>
            <p class="success-message">{{t "Subscription was sent successfully, check your email"}} <i class="fa fa-envelope-o"></i></p>
            <p class="description">{{{t "Don't miss out and sign up to <b>our newsletter!</b>"}}}</p>
        </form>
    </div>
    <div class="clear"></div>
</section>
<!-- end: .widget -->