<!-- start: .intro-text -->
<div class="intro-text textcenter section np-bottom grid-container grid-medium np-mobile np-tablet">
    <h1 class="title ularge">Welcome to Wavy, a fast 🚀and modern theme fully compatible with Ghost!</h1>
    <p>Rich right us federal alone degree issue professor. Form crime tough effect least store day. Deep range they modern.</p>
    <p><a href="{{@site.url}}/membership" class="epcl-button gradient-button wave-button icon"><svg class="icon large"><use xlink:href="#credit-icon"></use></svg> {{t "View Plans"}}</a></p>
</div>
<!-- end: .intro-text -->