{{!< default}}

<main id="home" class="main grid-container">
    
    <div class="epcl-row">

        <!-- start: .content-wrapper -->
        <div class="content-wrapper content">  
            <div class="grid-container">
                <h2 class="title bordered large">{{t "Latest Articles"}}<svg class="decoration"><use xlink:href="#title-decoration"></use></svg></h2>
            </div>
            {{> home-blocks/grid-posts}}          
        </div>
        <!-- end: .content-wrapper -->
    </div>

    {{> svg-waves}}

</main>