{{!< default}}

<main id="home" class="main grid-container">
    
    <!-- start: .content-wrapper -->
    <div class="content-wrapper"> 
        {{> home-blocks/intro-text}}
        <div class="sticky-container section np-bottom">
            <h2 class="title bordered large">{{t "Latest Articles"}}<svg class="decoration"><use xlink:href="#title-decoration"></use></svg></h2>
            {{> home-blocks/classic-posts}}           
        </div>  
    </div>
    <!-- end: .content-wrapper -->
    
    {{> svg-waves}}

</main>